[Unit]
Description=Simple metadata server
Wants=mdserver-dnsmasq.service

[Service]
TimeoutStartSec=0
ExecStart=/usr/local/bin/mdserver /etc/mdserver/mdserver.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
